<div class="header-2">
        
    
       
        <div class="page-header header-filter" style="background-image: url('assets-theme/img/examples/office2.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="title"> You should work with us!</h1>
                        <h4>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="card card-raised card-form-horizontal">
                            <div class="card-content">
                                <form method="" action="">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group is-empty">
                                                <input type="text" value="" placeholder="Titre de poste de travail, Mots clés, Tags, Etc…    " class="form-control">
                                            <span class="material-input"></span><span class="material-input"></span></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group is-empty">
                                                <input type="email" value="" placeholder="Ville, Province, Code postal   " class="form-control">
                                            <span class="material-input"></span><span class="material-input"></span></div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <button type="button" class="btn btn-primary btn-block">Rechercher</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<section class="container job-list">
        <span class="text-muted">{{trans.txnDate | date:'yyyy-MM-dd HH:mm:ss Z' }}</span>
    <!-- LIST HEADER -->
    <h4 data-ng-if="!list.SearchService.helper.isSearching && list.SearchService.currentListData.length">{{'list.jobListHeading' | i18n}}</h4>
    <!-- JOBS CONTAINER -->
    <div class="cards">
        <!-- JOBS -->
        <div class="card-wrapper" data-ng-repeat="job in list.SearchService.currentListData | orderBy:dateLastPublished">
            <a class="card slide-up-item" data-ng-href="#/jobs/{{job.id}}">
                <!-- TIMESTAMP -->
                <span class="card-date" data-ng-if="job.dateLastPublished">{{'common.addedLabel' | i18n}} - {{job.dateLastPublished | displayDate}}</span>
                <!-- CATEGORY -->
                <span class="card-title-category">
                    <span class="card-title">{{::job.title}}</span>
                    <span class="card-category">{{::job.publishedCategory.name}}</span>
                </span>
                <!-- LOCATION -->
                <span class="card-location">
                    {{::job.address.city}}<span data-ng-if="::(job.address.city && job.address.state)">,&nbsp;</span>{{::job.address.state}}
                </span>
                <span class="card-separator" data-ng-show="::((job.address.city || job.address.state) && job.employmentType)">|</span>
                <span class="card-type">{{::job.employmentType.toString()}}</span>
                <!-- DESCRIPTION -->
                <span class="card-description">{{ ::job.publicDescription | stripHtml }}</span>
                <!-- CTA -->
                <i class="bhi-arrow-right"></i>
            </a>
        </div>
    </div>
    <!-- NO RESULTS -->
    <div class="no-data-message" data-ng-if="!list.SearchService.helper.isSearching && !list.SearchService.currentListData.length">
        <h2>{{'common.noDataHeading' | i18n}}</h2>
        <h3>{{'list.noDataMessage' | i18n}}</h3>
        <p data-ng-if="list.SearchService.searchParams.location.length || list.SearchService.searchParams.category.length || list.SearchService.searchParams.textSearch.length">
            <a href data-ng-click="list.clearSearchParamsAndLoadData();">{{'list.noDataResolution' | i18n}}</a>
        </p>
    </div>
    <!-- LOAD MORE -->
    <p class="load-more-data" data-ng-click="list.loadMoreData();" data-ng-show="list.SearchService.helper.hasMore">
        {{'list.loadMoreDataLabel' | i18n}}
    </p>
</section>
